{% load static %}

<footer>
    <img src="{% static 'img/icon.png' %}" width="128"/>
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador logotipo: Flaticon</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
    </ul>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>


    <p>Footer<a href="https://www.flaticon.es/iconos-gratis/camara" title="cámara iconos">Cámara iconos creados por Freepik - Flaticon</a></p>
</footer>